@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Part6";
}

<div class="text-center">
    <h1 class="display-4">Stone Ocean Summary</h1>

    <p>
        The plot begins in Port St. Lucie, Florida, 2011. Jolyne Cujoh is introduced in jail, claiming to have been framed for murder. She befriends Ermes Costello while being transferred to prison. The circumstances of her accusations are clarified. Jolyne and her boyfriend Romeo Jisso seemingly ran over someone. Romeo, fearful for his future, persuaded Jolyne to not call for help and instead dispose of "the corpse". However, a few days later, Jolyne was arrested.
    </p>
    <p>
        Meeting her attorney, Jolyne also receives items from her parents, among them an amulet on which she pricks herself before tossing it in anger as it came from her father Jotaro Kujo. She soon develops a strange power that allows her to partly unravel herself into string, using it to help Ermes keep her money. Arriving at the famous Green Dolphin Street Prison situated on an island near the coast, Jolyne has nonetheless trouble accustoming herself to the new environment.
    </p>
    <p>
        Jolyne meets her new cellmate Gwess, who initially victimizes her. Jolyne then discovers that Gwess's pet parrot is a shrunken man put inside of a parrot skin. For this discovery, Gwess shrinks Jolyne and puts her in a mouse's corpse to scout for a way to escape the prison. The scout goes badly: Jolyne slowly grows back and is subsequently spotted and attacked by Gwess' Goo Goo Dolls. Fully awakening her Stand, Stone Free, Jolyne forces Gwess to shrink her again and escape the guards, returning to her cell. Having grown, Jolyne begins to affirm her toughness among the other prisoners, at the same time she helps another victimized prisoner gain her money back.
    </p>
    <p>
        Jotaro soon comes to visit Jolyne, however, a mysterious child named Emporio Alnino warns her that this is a trap. Jolyne is still forced to meet Jotaro and the conversation is tense, Jolyne hating her father for being absent during her whole youth. Jotaro tells Jolyne that a prisoner named Johngalli A., a disciple of DIO, has framed her so that he could lure Jotaro in and take revenge, Jotaro willfully taking the bait for his daughter. Finally, Jotaro tells Jolyne that he will make her escape the prison. Their discussion is interrupted by an attack by Johngalli A. and his Stand Manhattan Transfer. Being a sniper, Johngalli A. uses Manhattan Transfer to read the wind and detect his targets, but the fight takes a more complex aspect as the JoJos discover that a second enemy Stand is responsible for creating the complex illusion. At a critical point of their escape, Jotaro sees Johngalli A. and the unknown Stand attacking at once and chooses to protect Jolyne. Whitesnake, the second Stand, thus uses its power to remove Jotaro's Stand Star Platinum and Jotaro's memories, as two Stand Discs.
    </p>
    <p>
        Jotaro sinks into a deathlike state but confesses to Jolyne that he's always cherished her. Jolyne, moved, resolves to find a way to recover the Stand Discs from Whitesnake's mysterious user. She then effortlessly defeats Johngalli A., but loses track of the second Stand. Escaping on the beach with her father and putting him inside a submarine, Jolyne decides to stay behind in prison in order to recover the discs Whitesnake stole. Seeing Johngalli A. gravely wounded, Whitesnake executes him to erase any lead toward him.
    </p>
    <p>
        Meanwhile, Ermes Costello has been ill and recovers from a fever in the infirmary. She awakens her Stand Kiss, which can reproduce objects by putting stickers on them, and damage said items when the sticker is removed. Ermes accidentally knocks Memory Disks from fellow prisoner Thunder McQueen who keeps a $5,000 stash hidden. The suicidal prisoner links himself with Ermes with his Highway to Hell, reflecting any damage done to him to Ermes so they can die both. Ermes successfully escapes.
    </p>
    <p>
        Ermes is then approached by Emporio and is brought to Emporio's secret ghost room where she also meets Narciso Anasui and Weather Report. Emporio explains that Whitesnake's user is the enemy. New wounds warn Ermes that McQueen is trying to kill himself again. Ermes finds him and knocks him out for good, taking his Memory DISC to retrieve the money and fight Whitesnake alongside Jolyne
    </p>
    <p>
        Jolyne and Ermes volunteer in a search group of five prisoners to look for two missing prisoners and are given explosive bracelets that get set off if they go too far from a supervisor. In the fields, Ermes looks into the Memory DISC again, in which another memory indicates a stash of Stand Disks Whitesnake keeps hidden in a barn nearby.
    </p>
    <p>
        Jolyne and Ermes notice that there are six of them, meaning an enemy infiltrated their group. Their supervisor is killed and dragged away. Jolyne and Ermes have to find the hidden enemy. Sentient plankton colony Foo Fighters (shortened to F.F.) has in fact taken over everyone and begins to fight the two women.
    </p>
    <p>
        Ermes tries to get the supervisor back into a safe range while Foo Fighters is dragged into dry land by Jolyne, almost dying because it's dependency on keeping itself wet. Jolyne spares F.F, since it was coerced into obeying Whitesnake, and F.F. takes over prisoner Atroe's body. Jolyne successfully retrieves Jotaro's Star Platinum DISC and takes it back to prison. It is revealed that the real enemy is the prison priest, Enrico Pucci.
    </p>
    <p>
        Enrico Pucci, a friend of DIO and wielder of Whitesnake, bribes Miraschon into helping him eliminate Jolyne and gives her the Stand Marilyn Manson. Jolyne, Ermes and F.F. play a game of ball catching, and are approached by Miraschon, who bets that they can't pass the ball between themselves 100 times, Ermes eventually cheats, but Marilyn Manson automatically detects it and takes Ermes's liver as payment. Jolyne wagers another ball, but the free time has ended. She and F.F. have to play in the prison and defend themselves from Miraschon. Jolyne eventually forces Miraschon to give back Ermes's liver and pummels her, taking her out indefinitely.
    </p>
    <p>
        Jolyne then makes a call to the Speedwagon Foundation to set up a plan to give them the Stand DISC. They agree to meet in the prison courtyard. Jolyne then meets with Emporio and Stand user Weather Report, who can manipulate the atmosphere and various weather phenomenons.
    </p>
    <p>
        They are tailed by Lang Rangler who spits on Jolyne. Jolyne then heads to the courtyard alone but is soon under Lang's influence, which annuls the gravity of anything Jolyne touches. Floating and the atmosphere going away from her, Jolyne calls Weather for help. The two Stand users bring the fight to the factory Jolyne has to cross to reach the courtyard, and they have to fight in zero gravity and airless conditions. Jolyne and Weather defeat Lang Rangler but Weather is too wounded to carry on.
    </p>
    <p>
        Pucci, who traced Jolyne's phone call, incidentally, meets her near the courtyard. Pucci has no choice but to hide his true identity and let Jolyne pass. However, in the courtyard, Jolyne is shot by a guard Whitesnake brainwashed.
    </p>
    <p>
        In a flashback, Pucci talks with DIO. It is explained that Jotaro burned DIO's Diary, which contained a plan to "get to Heaven". Jolyne is incapacitated and loses the Stand DISC, but Weather causes a rain of poisonous frog so Jolyne can escape. Jolyne tries to guard herself from the frogs but is apparently overwhelmed. Pucci is pinned down by the rain and uses Whitesnake to attempt to retrieve Jotaro's Stand DISC, only to be taken by surprise by Jolyne who gives it to Savage Garden, a carrier pigeon which flies away.
    </p>
    <p>
        Jolyne notices that Ermes has been very solitary lately. F.F. explains that Ermes voluntarily came to the prison to kill Sports Maxx, a gangster who murdered Ermes's sister Gloria Costello. Ermes has found him and tailed him to look for the best moment to take her revenge. Incidentally, Maxx has been meeting with Pucci who gave him the Stand Limp Bizkit.
    </p>
    <p>
        Ermes successfully kills Sports Maxx in his animal stuffing room but is attacked by the invisible specters of various stuffed animals. Jolyne and F.F. join her and help her, only for the three to see that Maxx escaped. Maxx notices he's been killed but resurrected into an invisible zombie thanks to Limp Bizkit. Jolyne and Ermes follow Sports Maxx up to a graveyard and are surrounded by numerous zombies. Ermes successfully baits Sports Maxx into giving the finishing blow in a predictable place and time and kills him for good but is gravely wounded in the process. Jolyne retrieves Sports Maxx's Memory DISC.
    </p>
    <p>
        Jolyne is brought to the punishment ward due to having caused much trouble, and stoically endures the harsh conditions inside. Meanwhile, Emporio discovers that Whitesnake used Sports Maxx's Limp Bizkit to revive a mysterious Bone and discovers that it is hidden in the punishment ward. Jolyne has accepted to go there and retrieve the Bone.
    </p>
    <p>
        Knowing that Whitesnake will exploit Jolyne's isolation to try to kill her, F.F. tries to find an ally to get her in the punishment ward. F.F. tries to force Narciso Anasui, the user of Diver Down into helping, and Anasui is extremely cooperative, having fallen for Jolyne. Using Diver Down's power to store energy in a certain place, they successfully begin to infiltrate the punishment ward.
    </p>
    <p>
        In the punishment ward, prison guard Viviano Westwood goes crazy and liberates every prisoner in the punishment ward in a mad eagerness to fight. Meanwhile, Pucci reveals that he sent four Stand users to try to dispose of Jolyne.
    </p>
    <p>
        In a flashback, DIO explains to Pucci how the Stand Survivor manipulates people into fighting others, and how he believes physically it is the weakest stand. As Anasui and F.F. breach the security checkpoints, Jolyne begins to fight Westwood. Westwood is a tough fighter and wields Planet Waves which manipulates small meteors. The fight turns very brutal, and Jolyne manages to bypass Westwood's invulnerability to his meteors by using the meteors to propel his boot toward his face, defeating the guard. She notices that among the remaining prisoners, only two remain.
    </p>
    <p>
        Kenzou, an elderly Stand user and wielder of Dragon's Dream which reveals lucky feng-shui places for maximum killing probability, challenges Jolyne but F.F. intervenes and fights him instead. Kenzou's superior skills almost prevail against F.F. but Anasui intervenes and reveals his ability to restructure anything from the inside, defeating Kenzou when he restructures his legs into springs.
    </p>
    <p>
        Jotaro is seen dormant (in a lotus position) under the care of the Speedwagon Foundation. The doctor reveals that without memory, Jotaro has no will to live and his body is slowly decaying. Jolyne's first arrest is shown in a flashback.
    </p>
    <p>
        Jolyne grabs a prisoner she saw having the Bone in his possession, but he soon transforms into a plant. In the same way every corpse in the punishment ward blooms. The Bone fuses with the plants and develops into an embryo bearing the Joestar birthmark. For his part, Anasui is approached by Guccio who wields Survivor and uses him as a trap against the sole remaining Stand user D an G.
    </p>
    <p>
        Having opted to escape the punishment ward from the eastern exit and reach the nearby swamp, Jolyne, Anasui and F.F. take a motorboat to cross it. However, the embryo which was in their possession is swallowed by the automatic Stand Yo-Yo Ma. Unable to hurt him, F.F. stays behind to kill D an G while Jolyne and Anasui take Yo-Yo Ma on board. Jolyne and Anasui are pursued by the prison guards and have to hide in the swamp. Jolyne realizes that she is slowly being melted by Yo-Yo Ma, but she cannot communicate properly and is incapacitated. At the same time, F.F. discovers that Enrico Pucci is the mastermind behind the attacks.
    </p>
    <p>
        While Anasui has successfully neutralized Yo-Yo Ma by fusing his brain with that of a frog, Pucci celebrates the soon to be born Embryo, but sees that F.F. is planning to kill D an G. The narration explains that F.F. fears having its intellect taken away and how it has come to appreciate its sentience and memories, because it has good memories of Jolyne, F.F. is ready to fight for her.
    </p>
    <p>
        F.F. is confronted by Pucci. While F.F. kills D an G, it is severely wounded in the process and runs out of water. As the priest corners the plankton colony, the Green Baby is born from Yo-Yo Ma's remains. Meanwhile, Jolyne and Anasui try to approach the Green Baby, whose automatic Stand Green, Green Grass of Home attacks them, shrinking them as the distance between the Green Baby and them decreases. The Green Baby becomes interested in Jolyne, specifically her birthmark, and its power disappears. Jolyne and Anasui grow back to a normal height.
    </p>
    <p>
        Almost dead, F.F. contacts Weather Report with a radio, and he uses his weather control power to make it rain and make the area foggy. Whitesnake loses F.F.'s track, and she meets with Weather Report. The four of them meet, but Weather Report was in fact Whitesnake in disguise. Whitesnake heavily wounds F.F. and Anasui but only manages to hurt Jolyne. Pucci reveals himself and approaches the Baby. However, Jolyne cuffs him to herself. A brutal close-quarter fight ensues.
    </p>
    <p>
        In a flashback, DIO gives Pucci one of his finger bones. Jolyne gains the upper hand in the fight, but Pucci throws Jotaro's Memory DISC into the dying Anasui, threatening the DISC to disappear forever.
    </p>
    <p>
        Jolyne opts to try helping Anasui to get the DISC, and Pucci approaches the Green Baby, telling him the 14-word long secret password which causes the Baby to touch Pucci and fuse with him. Jolyne cannot help Anasui, but he is saved when F.F. sacrifices the rest of its plankton to heal him, and F.F. exchanges a last goodbye with the helpless Jolyne.
    </p>
    <p>
        A transformed Pucci leaves the prison, having no use for it anymore. DIO's entire plan is revealed, most importantly that Pucci needs to head for the location with the coordinates North latitude 28 degrees 24 minutes, West longitude 80 degrees, 36 minutes. Having read Jotaro's Memory DISC, Jolyne asks Emporio to help her escape Green Dolphin Street. However, Emporio says that escape is impossible because of the true guardian of Green Dolphin Street who can make escape impossible even for Stand Users.
    </p>
    <p>
        Miuccia Miuller, aka Miu Miu, approaches Jolyne with her Stand Jail House Lock fully revealed, warning Jolyne not to do anything stupid. Jolyne attacks Miu Miu but suddenly finds herself in her cell. Jolyne is affected by Jail House Lock and cannot memorize more than three new pieces of information at a time, and although she tries to reach Emporio, she is heavily handicapped by this power.
    </p>
    <p>
        Meanwhile, Emporio was also caught and is also trapped in his room, unable to remember how to escape. Jolyne manages to reach the ghost room, but they are caught up by Miu Miu. When Jolyne is given a picture in binary of Miu Miu, Jolyne manages to defeat her and use her to neutralize the guards.
    </p>
    <p>
        Several strange phenomena happen around Pucci, who is startled and unsure of what's happening. Jolyne, Ermes, and Emporio escape from prison and carry on their hunt for Pucci. Pucci is brought by a series of coincidences near a hospital. He is taken hostage by Ungalo but Pucci tells him to awaken his power. Ungalo falls on the ground, disturbed, but is picked up by the stick figure in traffic regulation panels. In prison, Anasui notices that a star-shaped birthmark has appeared near Weather's shoulder and Weather announces his intention to escape too.
    </p>
    <p>
        After a time skip of three days, Anasui and Weather are hiding in the toilets, their evasion having been noticed and they are now fugitive. An old man Weather has helped before accepts to take them in his truck.
    </p>
    <p>
        Weather and Anasui realize that fictional characters are coming into life, and Anasui's soul is cloned. The truck crashes. Destroying Pinocchio, Anasui is one body again. Attacked by the old man who transformed into the Big Bad Wolf, Anasui is separated from Weather who took a bus without paying attention to his surroundings. Chasing his double through the town, Anasui is dragged into the story of the Seven Lambs and the wolf, and cast as the Wolf, Mother Goat threatens to cut his stomach open and fill it with rocks. Anasui tries to flee but has a hard time escaping Mother Goat and her children. Meanwhile, Weather Report is dragged into Vincent van Gogh's last autoportrait, and cast as Van Gogh, is fated to shoot himself in the head. Weather tries to stop the aggressor, whom he senses via the birthmark but Ungalo is actually on a plane enjoying the world scale chaos bringing every fictional character to life causes.
    </p>
    <p>
        When Weather invents a hero whose power is to eliminate all fantasy heroes, Ungalo's Bohemian Rhapsody is canceled and he falls into a coma, having lost his drive with his Stand. The story then goes back to 8 hours after Jolyne escapes prison. Romeo finds Jolyne in his house and begs for forgiveness. Jolyne lets him be and asks him for a vehicle. Romeo gives them the key to a helicopter and gives the police a false lead. Still, Jolyne cuts his tongue as revenge.
    </p>
    <p>
        We are introduced to Rikiel a nervous wreck of a young man, who is constantly ill. Pucci enables him to master his Stand Sky High, manipulating the cryptids Flying Rods. Jolyne, Ermes and Emporio crash when the Flying Rods attack them and cause their eyelids to close. The Rods suck body heat causing various illnesses and Jolyne sets herself on fire to counter them, defeating Rikiel. When Rikiel reveals that Pucci and Weather are brothers, Ermes puts him out of commission.
    </p>
    <p>
        Jolyne tracks Pucci up to the hospital where he's hiding and discussing with DIO's last son, Donatello Versus. Donatello awakens his Stand and strangely a child appears in their dish and a bullet comes through its head. Jolyne finds Donatello's room and sees a huge hole leading to an underground cavern. Deciding to investigate, Jolyne finds herself in a plane that is scheduled to crash. Donatello's Under World can revive memories of the ground and materialize them, having materialized said crash and imprisoning Jolyne in it. Ermes is dragged into the memory as well.
    </p>
    <p>
        A flashback narrates Donatello's misfortunes and the resentment he has toward the world. Jolyne contacts Emporio who stayed out of the hospital, and he finds that some passengers survived the crash. Jolyne and Ermes take their place and also save hapless children in the process. Defeated, Donatello commands his Stand to flee and give Weather Report his Memory DISC back, to Pucci's horror as he unlocked a terrible power.
    </p>
    <p>
        Weather Report receives his Memory DISC, re-releasing his rage at his brother Pucci; manifesting as the new Stand power Heavy Weather, which hypnotizes people into transforming into snails with sunrays. A flashback narrates both Weather and Pucci's tragic past, how Pucci came to meet DIO, and how Weather and he got their Stands. Having lost his sister, Pucci fell into despair, just as Weather who lost his girlfriend.
    </p>
    <p>
        Jolyne and Ermes manage to escape the hospital, but as they are transforming into snails, they force Donatello to drive. Meanwhile, Pucci finds Weather and Anasui to kill them. Pucci rendered himself blind to stop the suggestion and fatally wounds Weather Report, but Weather takes advantage of this to almost kill him. When Donatello crashes on Weather and Pucci, the priest escapes and Weather dies. Jolyne acquires Weather's Stand DISC and gives it to Emporio just in case.
    </p>
    <p> 
        The entire party drives toward Cape Canaveral, the location indicated in DIO's Diary, resting and having fun while they can. As Pucci nears the ideal conditions, he awakens a new power. The gravity shifts around Cape Canaveral, objects falling away from it, and Ermes is pushed away. When the rest of the party reach Cape Canaveral, they don't find Pucci but are attacked by the Stand C-MOON. C-MOON can turn any object it hits on itself. It fights Jolyne and although it almost defeats her, Jolyne gains the upper hand. Pucci intervenes and commands C-MOON more precisely, hitting her in the chest and her torso turns on itself.
    </p>
    <p>
        With Jolyne dead, Pucci proceeds to track Anasui. Emporio gets a phone call from Jotaro who reveals that Jolyne is still alive. Pucci is attacked by Jolyne who used Mobius Strips' property to cancel C-MOON's attack. Time stops and Star Platinum punches Pucci. Jotaro and Ermes managed to reach Cape Canaveral as well.
    </p>
    <p>
        Cornered, Pucci realizes that he can reproduce the gravitational conditions specified on the Diary by floating to a different location. As he reaches the final stage, Made in Heaven appears and engulfs everyone in light.
    </p>
    <p>
        Everyone wakes up, and the heroes realize that time is accelerating. The entire world is affected by the time acceleration and chaos spreads. In Cape Canaveral, Pucci isn't affected by the flow of time like everyone else and proceeds to hunt down the heroes. The party flees up to the ocean, where they expect to see Pucci coming. Pucci attacks, and Jotaro stops time, however, he sees that knives are falling toward Jolyne, he pulls her out of danger's way and attack Pucci but fails to hit him when time resumes. Jotaro's head is split in two, Anasui is killed as well as Ermes, and Jolyne receives a knife in the stomach anyway, sinking into the water.
    </p>
    <p>
        Emporio faces Pucci, but Jolyne hasn't died yet. Blinding him partially with a knife, Jolyne ties Emporio to a dolphin which swims away and sacrifices herself to delay Pucci. Time accelerates to an insane speed, and every living thing is brought into a vortex.
    </p>
    <p>
        Emporio awakens in Green Dolphin Street Prison, and soon sees alternate versions of Jolyne and Jotaro. Pucci suddenly appears and begins tracking the terrified child, explaining that he accelerated time past a singularity point and brought all living beings into the universe succeeding the original one. As a result, everyone now bears subconscious knowledge of their future, and can find peace by accepting their fate. As Emporio enters his ghost room, Pucci extends his arm to kill the child, only to be tricked into inserting Weather Report's DISC into him. Emporio uses Weather Report to create a concentration of pure oxygen in his room, poisoning both himself and Pucci, the latter being affected faster due to his ability. Unable to cancel time's acceleration and powerless to prevent the future from changing, Pucci can only yell in desperation as Weather Report finishes him off.
    </p>
    <p>
        The universe reaches another singularity point, and a new universe is created. Finding himself outside the prison, Emporio meets his companions in alternate reincarnated forms. Seeing the reincarnated Jolyne (now named Irene) bearing the Joestar birthmark, Emporio can only cry as she brings him into the car of the reincarnated Anasui (now named Anakiss) as they drive their way to meet Irene's father.
    </p>
</div>

