@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Part4";
}

<div class="text-center">
    <h1 class="display-4">Diamond Is Unbreakable Summary</h1>

    <p>
        An older Jotaro Kujo travels to coastal Morioh, Japan, in order to meet high school freshman Josuke Higashikata, who happens to be the illegitimate child of Joseph Joestar. Once Josuke displays his Stand, Crazy Diamond, Jotaro shares the news of a paranormal threat in Morioh, revealing that a Stand-using murderer named Anjuro Katagiri is lurking in Morioh. The murderer targets Josuke with his new Stand Aqua Necklace for foiling a robbery. After Anjuro kills Josuke's grandfather Ryohei, Josuke pledges to adopt his role as Morioh's protector.
    </p>
    <p>
        Later, Josuke and Jotaro are attacked inside Josuke's house by Aqua Necklace. Josuke manages to trap it inside a rubber glove and Josuke fuses Anjuro to a rock. Anjuro reveals that he has acquired his Stand when one man used a Bow and Arrow on him. Foiling a last attempt to take a child hostage, Josuke definitely fuses Anjuro to his rock.
    </p>
    <p>
        Josuke and Koichi Hirose find a dilapidated house when Koichi is struck by the Arrow and taken inside. Josuke fights both Okuyasu and Keicho Nijimura. Okuyasu's The Hand can erase space, but Okuyasu knocks himself out. Keicho's Bad Company, a miniature army, proves powerful but Josuke throws a small missile back at him, defeating the user.
    </p>
    <p>
        Josuke and Koichi discover the siblings' father, transformed into a dumb, undying creature by DIO's cells. Keicho explains that he wants to find a way to kill him, but Josuke manages to convince Okuyasu to search for a cure. The group is suddenly attacked by the electrical Stand Red Hot Chili Pepper, which kills Keicho and steals the Bow and Arrow. Thus, Okuyasu joins the allies in locating this second murderer.
    </p>
    <p>
        Jotaro, perceived as the greater threat, is warned by the user of Red Hot Chili Pepper to leave Morioh. As Jotaro refuses, new Stand users come to the forefront. One Day, Koichi is extorted by Tamami Kobayashi of the new Stand The Lock which multiplies the feeling of guilt, but when Josuke exposes his scam, Tamami flees. Later Tamami visits Koichi and involves his mother and sister, provoking the evolution of Koichi's Stand into Echoes ACT1 which can implant sounds into objects and people. When Koichi manages to lift his mother's guilt, Tamami surrenders to Koichi.
    </p>
    <p>
        Later, fellow student Toshikazu Hazamada targets Josuke with his new Stand Surface, assuming his appearance he plans to kill Jotaro with Surface disguised as Josuke. Although Koichi and Josuke manage to meet Jotaro and warn him, Josuke gets controlled by Surface and almost stabs Jotaro from behind. However, a couple of bikers Hazamada has antagonized earlier knock down the enemy Stand user.
    </p>
    <p>
        One morning, fellow student Yukako Yamagishi confesses her love to Koichi, who is initially pleased but then finds that Yukako is violently obsessed with him. When Josuke and Okuyasu try to help him by slandering him, Yukako kidnaps Koichi, determined to make him love her whilst holding him with her new Stand Love Deluxe.
    </p>
    <p>
        Locked inside an unfamiliar house, Koichi has to suffer Yukako's presence for a while. When she leaves, Koichi sends Echoes outside to call for help but is noticed by Yukako. As she smashes open the house's door, Echoes evolves into ACT2, Yukako is blown away by a sound effect. Despite Yukako trying to kill him, Koichi rescues her when she falls down a cliff; the boy is victorious and has grown, while Yukako tempers her love for him.
    </p>
    <p>
        Josuke and Okuyasu discover a strange Italian restaurant whose owner and chef Tonio Trussardi cooks dishes for Okuyasu. They are extremely tasty, but cause strange effects on Okuyasu's body, leading Josuke to suspect a Stand attack. However, it is only a misunderstanding, and Trussardi is in reality benevolent.
    </p>
    <p>
        Red Hot Chili Pepper finally reappears, attacking Josuke in his home but retreating quickly, unsatisfied with its current power. Jotaro gathers the group in a field, aiming to be free of its range and explains the arrival Joseph Joestar in town to utilize his psychic Stand Hermit Purple to locate the user. However, Red Hot Chili Pepper has eavesdropped the plan and flees to the port. Okuyasu pursues Red Hot Chili Pepper but, although he manages to defeat it, Okuyasu makes the mistake of uncovering underground electrical cables and the enemy Stand escape.
    </p>
    <p>
        As Joseph arrives at Morioh's docks, Jotaro and Okuyasu go to the boat to escort the old man. Meanwhile, Akira Otoishi reveals himself to Josuke and Koichi. Josuke and Crazy Diamond then fight hard against Otoishi and Red Hot Chili Pepper but the latter is physically stronger and faster. Josuke manages to trap Red Hot Chili Pepper inside a rubber tire and when it punches a hole through it, it propels the tire into the ocean, dispersing its electric power.
    </p>
    <p>
        When the boat approaches the dock, Otoishi infiltrates the ship and impersonates a Speedwagon Foundation agent. Okuyasu, having never seen Otoishi, manages to unmask him through dumb luck just as Red Hot Chili Pepper makes an attempt on Joseph's life. Father and son finally meet.
    </p>
    <p>
        Otoishi's Bow and Arrow are taken into the Speedwagon Foundation's custody, fostering a temporary peace. Josuke and Joseph share an awkward moment before discovering Shizuka, an invisible baby (of the Stand Achtung Baby) apparently abandoned on the streets of Morioh. When Shizuka falls into a pond while invisible, Joseph manages to impress Josuke by using his own blood to discover her, and their relationship improves. Joseph subsequently adopts Shizuka.
    </p>
    <p>
        Later, Koichi and Toshikazu Hazamada meet the eccentric mangaka Rohan Kishibe, the user of Heaven's Door which can transform anyone who sees his drawing into books. Rohan, very interested in Koichi because he makes a great comic character, forces him to come back to his house to dig further experiences from him.
    </p>
    <p>
        Josuke and Okuyasu witness Koichi enter Rohan's house. They try to save Koichi but the mangaka's power is difficult to deal with. Rohan disables Okuyasu and forces Josuke to step inside his drawing-room, the student closing his eyes to avoid being affected by Heaven's Door. However, Rohan taunts him about his hair and the youth literally becomes blind with rage. Immune to Rohan's Stand, Josuke beats him down. How Josuke got his haircut is revealed, and Rohan is sent to the hospital.
    </p>
    <p>
        Later, Jotaro enlists Josuke's help in hunting a rat Stand user. created by Otoishi. Josuke discovers the rat which uses Ratt, enabling it to melt anyone it shoots and narrowly defeats him. However, the existence of a second rat using the same Stand dubbed Bug-Eaten by Jotaro is revealed.
    </p>
    <p>
        Jotaro and Josuke hunt Bug-Eaten but are lured into a disadvantageous terrain where the rat is free to snipe the two Stand users. Jotaro decides to use himself as bait, and Josuke manages to shoot the rodent, killing it.
    </p>
    <p>
        Out of the hospital, Rohan draws Koichi into helping with his research. The pair discovers a ghostly alley inhabited by Reimi Sugimoto, the victim of an unknown serial murderer over a decade prior, and her dog Arnold. She begs Koichi and Rohan to find her killer, who continues to prey on the population of Morioh, and Rohan accepts her request. Rohan and Koichi also escape the malicious spirits of the alley who drag away anyone who looks behind their back into an unknown place.
    </p>
    <p>
        Yoshikage Kira is introduced, speaking as though on a date to the severed hand of a woman. Meanwhile, Josuke, who is nearly ruined, alongside Okuyasu, meet a child called Shigekiyo Yangu who likes to be called "Shigechi." Shigekiyo's hive-like Stand, Harvest, enables him to gather small items from the whole town. Striking a deal together, they accomplish several schemes in order to gather money, but the gains make Shigechi greedy.
    </p>
    <p>
        When the trio gets rich thanks to a winning lottery ticket, Shigechi steals the paycheck. After a chase through the streets and roofs of Morioh, Shigechi manages to corner Josuke and Okuyasu by injecting alcohol directing in their bloodstream. However, Okuyasu uses The Hand to teleport the paycheck into his hand, and Josuke tears it apart and throws the pieces into the wind. Shigechi sends Harvest after the pieces but is defenseless when Okuyasu punches him. The trio reconciles afterward.
    </p>
    <p>
        One day, Yoshikage Kira enjoys a picnic with his girlfriend, a severed hand hidden inside a sandwich bag. Coincidentally, Shigechi swaps bags with Kira by accident. Although Kira tries to stealthily retrieves the hand, Shigechi discovers Kira's secret. Kira reveals his Killer Queen which can create bombs and kills Shigechi. The boy's last action is to send a button torn from Kira's jacket to Josuke via Harvest. Thus, the known Stand users of the town congregate and agree to collaborate in locating Kira and ending his depredations.
    </p>
    <p>
        Yukako is still in love with Koichi but doesn't know how to repair their relationship. Following Joseph's advice, she meets Aya Tsuji, the beautician, and manager of the Cinderella salon who makes women more attractive with Cinderella. Yukako manages to win Koichi's heart but forgets to put on her lipstick, rendering her ugly.
    </p>
    <p>
        When Yukako, Koichi, and Aya meet again in the latter's salon, Aya tests Koichi by having him choose Yukako's original face from a multitude of other faces. When Koichi wants Aya to make him blind if he's mistaken, Aya is impressed by his love and gives Yukako her original face back.
    </p>
    <p>
        After Shigechi's murder, Jotaro and Koichi find the corresponding vest of Kira's button in a shoe shop doubling as a clothing repair, where Kira attacks with his Stand's secondary power, Sheer Heart Attack, a miniature, invulnerable and threaded bomb. Kira leaves before Jotaro and Koichi learn his identity. Jotaro has difficulty attacking the bomb and is incapacitated while trying to protect Koichi from an explosion.
    </p>
    <p>
        Koichi calls Josuke for help and his Stand evolves into Echoes ACT3. ACT3 can increase an object's weight and it immobilizes Sheer Heart Attack, obliging Kira to come back and fight Koichi. Although he easily defeats the boy and almost kills him, Jotaro intervenes and pummels Kira before fainting.
    </p>
    <p>
        Josuke and Okuyasu arrive and rescue their companions. They then surround Kira, who cuts his hand and sics Sheer Heart Attack on them. Josuke uses Crazy Diamond to make Kira's hand fly back toward him to trail him, but the group learns that he has forced Aya Tsuji to alter his features with her Stand, killing her before she helps the group. Kira escapes with a new identity.
    </p>
    <p>
        Later, Jotaro, Josuke, Okuyasu, and Koichi investigate Kira's former life and residence. The ghost of Kira's father Yoshihiro Kira appears and attacks the group from a photograph, empowered by the Stand Atom Heart Father.
    </p>
    <p>
        Meanwhile, Kira is shown as having occupied the likeness, home and family of Kosaku Kawajiri. Formerly indifferent to her husband, Shinobu Kawajiri notices a change in "Kosaku"'s behavior, only to be charmed by him. In order to keep the heroes off his son, Yoshihiro Kira decides to create as many Stand users as he can to sic them on those investigating him. The first one he grants a Stand is a boy.
    </p>
    <p>
        Later, Rohan is challenged in a series of games of rock-paper-scissors by Ken Oyanagi. Rohan refuses but Ken harasses him into accepting a game. It is then that the mangaka discovers that the boy is the user of the new Stand Boy II Man, which can steal someone's power if he wins three rounds of rock-paper-scissors.
    </p>
    <p>
        On the verge of losing, Rohan manages to use Shizuka's power to make things invisible to save himself, transforming Ken's "scissors" into "rock" and wins a first time. He then completely defeats Ken in their game of rock-paper-scissors fair and square.
    </p>
    <p>
        Meanwhile at the Kawajiri's, Yoshikage Kira labors to adapt to his new life and repress his murderous urges; provoking the suspicion of Kosaku's spying son, Hayato.
    </p>
    <p>
        One day, Josuke and Okuyasu encounter Mikitaka Hazekura, proclaiming to be an alien with the shapeshifting ability Earth Wind and Fire. Eventually convinced, Josuke befriends Mikitaka and cooperates with him in cheating money from Rohan in a game of dice by having Mikitaka become the dice. Mikataka has difficulties maintaining the masquerade and Rohan eventually suspects Josuke of cheating. Their game is interrupted anyway when Rohan accidentally sets his home on fire. Josuke and Mikitaka finally get away scot-free while Rohan's house is burned down because of a magnifying glass.
    </p>
    <p>
        Still sour about their game, Rohan meets Josuke again on a bus. Inside of a tunnel, he spots in the walls what appears to be a room in which a man bends over and severs the hand of an unconscious woman. Unable to convince Josuke of what he's seen, Rohan investigates the tunnel alone. Is it then that the Stand Highway Star traps Rohan in the room and absorbs his life-force to heal its user.
    </p>
    <p>
        Josuke intervenes and decides to go look for the user. While Highway Star relentlessly pursues Josuke who rides a motorcycle across the streets of Morioh, the student calls Koichi who discovers the location of the enemy. Josuke manages to reach the user, Yuya Fungami, and beats him down.
    </p>
    <p>
        Meanwhile at the Kawajiri's, Shinobu Kawajiri accidentally kills the cat Tama. However, Kira finds it resurrected as a plant using the Stand Stray Cat. Kira and Stray Cat fight briefly and Kira has difficulties against the air-controlling Stand. However, it is soon distracted and Kira transports it in the house's attic.
    </p>
    <p>
        One day, Josuke, Okuyasu, and Mikitaka meet Toyohiro Kanedaichi, a man living on a transmission tower. Toyohiro tricks Josuke into entering the tower which is his Stand Super Fly. The sole remaining person inside Super Fly cannot escape it, and Josuke and Mikitaka work together into throwing Toyohiro back in it.
    </p>
    <p>
        Toyohiro's acrobatics and knowledge of the subtleties of his Stand give him the advantage inside the tower, and Mikitaka is wounded while Josuke almost slips from the top of the tower. However, Crazy Diamond returns the energy shot at Josuke into Toyohiro and the latter yields. Toyohiro then reveals that Koichi has been taken down by another of Yoshihiro's assassins.
    </p>
    <p>
        Warned by Toyohiro about a new enemy Stand user in town, Josuke and Yuya work together to find the enemy Stand user, revealed as Terunosuke Miyamoto, the new user of the Stand Enigma. Enigma traps people into paper once Terunosuke can guess what ticks they have when they are afraid. He uses Tomoko to bait Josuke and manages to trap the student inside a sheet. However, Yuya intervenes and manages to save Josuke from being shredded. Subsequently, Josuke defeats Terunosuke by fusing him with a book, freeing Koichi and his mother Tomoko.
    </p>
    <p>
        In the meantime, Kira finally snaps and gives in to his urges, murdering a man and a woman inside their home. However, Kira notices that Hayato Kawajiri has witnessed him. When Kira confronts Hayato about this, Hayato tells Kira that he has numerous proofs that he isn't his true father and tries to intimidate the serial-killer into leaving his family unharmed.
    </p>
    <p>
        As Kira must deal with Hayato, Rohan notices a photograph of Hayato filming his father, but his investigation is interrupted when he welcomes Masazo Kinoto, the architect supposed to repair his house. Masazo hates having his back being seen and Rohan cannot resist the temptation to look.
    </p>
    <p>
        Unfortunately, he inherits the Stand Cheap Trick which attaches itself to Rohan's back and will kill him if anyone sees it. Cheap Trick is invisible to everyone but Rohan, is invulnerable, and relentlessly tries to get people to see Rohan's back. With Koichi's help, Rohan uses the malicious spirits of the ghost alley to get rid of it.
    </p>
    <p>
        Kira, after having killed Hayato in anger, finds himself forced to flee Morioh. He refuses to yield and is pierced by the Arrow, which grants him the new ability Bites the Dust. Hayato is forced to relive a whole morning if anyone enquires about Kira or he informs someone about Kira, the witness having their head explode. Moreover, the death will still happen in the next time loop. During the time loops, Rohan, Jotaro, Josuke, Okuyasu and Koichi die. Cornered, Hayato tries to assassinate Kira by using Stray Cat but the attempt fails.
    </p>
    <p>
        However, Hayato manages to trick Kira into revealing his own name publicly and is heard by Josuke whom Hayato has called. Forced to retract Bites the Dust to defend himself, Kira cancels everyone's death and is cornered by Josuke and Okuyasu. Unfortunately, he uses Stray Cats invisible air bubbles as bombs and blows a hole in Okuyasu's stomach.
    </p>
    <p>
        A fight ensues between Josuke and Kira. Okuyasu is healed but remains unconscious. Josuke and Hayato retreat into a house, where Kira's air bubbles prove uncannily precise in tracking him. Josuke uncovers Yoshihiro and kills him for good using Kira's bubbles. Although he manages to wound Kira with a projectile, Josuke is hit by one of the bombs.
    </p>
    <p>
        Josuke, heavily wounded, confronts his foe outside. The two Stand user clash again, and while Killer Queen is weaker physically, Stray Cat's bubbles block Crazy Diamond's punches. Josuke is saved at the last moment when Okuyasu wakes up and teleports Stray Cat away from Killer Queen. Kira finds himself surrounded and cornered by the heroes but threatens to use a nurse to loop time again.
    </p>
    <p>
        Kira finds himself in the ghost alley after failing to activate Bites the Dust and meets Reimi Sugimoto again. Although he knows of the ghost alley and tries to make Reimi look behind her, Arnold the dog intervenes and bites his hand off, making the serial killer trip. Kira is subsequently dragged into the underworld, allowing Reimi to find peace.
    </p>
    <p>
        After she wishes goodbye to everyone, Reimi ascends to Heaven. Josuke sees off Jotaro and Joseph who are confident in the new generation's ability to protect the town, but Josuke cheekily steals his father's wallet. Every hero's subsequent life is described and it is said that the ensuing summer is eventless.
    </p>
</div>

