@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Part3";
}

<div class="text-center">
    <h1 class="display-4">Stardust Crusaders Summary</h1>

    <p>
        In 1983 near the Canary Islands, a trio of treasure hunters bring up a casket bearing the engraving of the name "DIO" around dusk. When the ship was found days later, only the empty coffin remained.
    </p>
    <p>
        The story begins in the year 1988 in Tokyo, Japan, with Holy Kujo, daughter of Joseph Joestar, visiting her son Jotaro Kujo after learning he is in jail for having beaten up four people. However, the reason Holy was called was because Jotaro refuses to leave his cell, explaining that he is possessed by an evil spirit. When nobody believes him, he steals a gun and demonstrates its power when it prevents him from shooting himself in the head. Only Holy can see the "spirit" as Jotaro restates his intent to stay in his cell for everyone's well-being.
    </p>
    <p>
        Holy calls her estranged father, who flies to Japan and arrives at the airport with Holy and his fortune-telling companion Muhammad Avdol. At the police station, he tells the latter to force Jotaro out of his cell by any means. During the fight between Jotaro's "spirit" and Avdol's Magician's Red, Jotaro learns from Joseph that the spirit in his possession is actually a manifestation of his lifeforce, named a Stand. Jotaro's stand gains the upper hand but he exits his cell in the process, prompting Avdol to end the battle.
    </p>
    <p>
        Joseph displays his Stand Hermit Purple, which enables him to take photographs of faraway places, while he and Avdol explain that Stands manifest in the descendants of those with Stands. Joseph states that the reason he and Jotaro have gained Stands is because of the reemergence of DIO. Knowing only what his grandmother Erina told him, Joseph explains that DIO succeeded in grafting his head onto the body of Jonathan Joestar, which created a link between DIO and Jonathan's descendants. Although Joseph tries to recruit his grandson against the Vampire who has long eluded him, Jotaro hardly believes his story and proof.
    </p>
    <p>
        The following day, Jotaro heads out to high school as he is stalked by a transfer student named Noriaki Kakyoin. Revealing himself as an assassin sent by DIO to kill those of the Joestar bloodline, Kakyoin uses his Stand Hierophant Green to attack Jotaro. But Jotaro's Stand easily overpowers Kakyoin, who is taken to the Kujo residence where he is revealed to be brainwashed by a parasitic spore produced by DIO. Jotaro risks his life to extract the Flesh Bud and saves Kakyoin.
    </p>
    <p>
        Tragedy strikes the following day when Holy falls ill due to her own Stand manifesting from DIO's influence. Without the necessary willpower that her son and father possess, Holy is slowly being killed by her own Stand. Joseph and Avdol determine that Holy will die in fifty days unless they kill DIO to break his influence.
    </p>
    <p>
        Motivated by his mother's condition, Jotaro uses his Stand's keen eyesight to analyze the photo Joseph's Stand took of DIO and has it sketch what it could see: A fly which Avdol confirms to be native to Egypt. Kakyoin joins the group and Holy is placed in the care of doctors from the Speedwagon Foundation. Before Jotaro's group departs for the airport, Avdol names Jotaro's Stand, Star Platinum.
    </p>
    <p>
        On a jetliner bound for Egypt, the group is ambushed by the insectoid Stand Tower of Gray. Avdol explains the enemy Stand belongs to another of DIO's assassins, a serial killer who causes numerous transportation-related deaths that appear like accidents. Though Hierophant Green manages to ambush the Stand and safely destroy it, its dying user Gray Fly had already killed the pilots. The jetliner crashes into the sea near Hong Kong.
    </p>
    <p>
        While eating in a Chinese restaurant in Hong Kong, the group agree to travel by land and sea to put less people at risk while heading to Egypt and fending off any more assassins. At that moment, a Frenchman named Jean Pierre Polnareff reveals himself as one of DIO's henchmen, and challenges Avdol to a duel, where his swordsman Stand Silver Chariot overwhelms Avdol's Magician's Red. Avdol manages to defeat Polnareff, then spares the man's life when he chooses to die with honor rather than commit suicide or kill Avdol with his back turned. Polnareff is revealed to also be under the influence of one of DIO's Flesh Buds, which Jotaro extracts. Later, Polnareff explains that he is hunting the Stand user who murdered his sister Sherry, and joins the group on the chance that his quarry is with DIO.
    </p>
    <p>
        Joseph arranges for a ship manned by Speedwagon Foundation approved personnel to set sail for Singapore, only for the group to encounter a stowaway girl prior to being attacked by the aquatic Stand Dark Blue Moon. The assassin is revealed to a follower of DIO who murdered Captain Tennille and assumed his identity. Though the assassin and his Stand had the advantage in the middle of the sea after dragging Jotaro with them, Jotaro manages to land a decisive blow against the Stand and defeat the impostor. Nonetheless, the group learned too late that ship had been rigged with bombs and are forced to take to the lifeboats.
    </p>
    <p>
        The group the surviving crew drift for some time before they encounter a freighter, finding only an orangutan as the crew are killed off in freak accidents. With the Joestar Group realizing that they are being attacked, Jotaro saves the stowaway girl from being molested by the orangutan, who is revealed to be the Stand user with the whole ship as a Stand. The orangutan manages to bind everyone, but Jotaro defeats the enemy Stand user in close quarters. With the orangutan defeated, the group return to the lifeboat as the freighter begins to sink. They eventually reach Singapore.
    </p>
    <p>
        While the group check into a hotel for a brief rest, Polnareff is ambushed by Devo the Cursed whom he managed to wound. However, while trying to call his companions, Polnareff finds himself overwhelmed by Devo's Stand Ebony Devil after it entered a doll. Blinded, Polnareff breaks the room's mirror to see the doll and stabs it repeatedly, killing Devo. Later, as Jotaro and Kakyoin decide to take a walk with the stowaway girl, Joseph and Avdol decide to spy on DIO using their room's television's set. But Joseph receives a warning that Kakyoin is a traitor, unable to decipher the meaning as DIO psychically detects Joseph and causes the TV to explode.
    </p>
    <p>
        But as Jotaro deduced from his strange behavior, "Kakyoin" is actually Rubber Soul using the power of his Stand Yellow Temperance. While Jotaro is at a disadvantage because of Star Platinum's inability to damage the lob-like Yellow Temperance, he jumps into the ocean below the cable car and forces Rubber Soul to deactivate his Stand to breathe to attack. Rubber Soul gets utterly pummeled while revealing that a few of the assassins who possess the Stands represented by Death, Emperor, Hanged Man and Empress. The Hanged Man's Stand user is revealed to be Sherry Polnareff's murderer and uses mirrors to attack. The group then heads for Calcutta by train.
    </p>
    <p>
        In Calcutta, Polnareff is approached and confronted by the Hanged Man's Stand user J. Geil, who taunts him from inside a mirror before fleeing. Polnareff, eager to pursue his enemy despite Avdol's counsel, begins to fight with the fortune teller and leaves on his own. But Polnareff ends up running into Geil's partner Hol Horse, the user of the gun Stand called the Emperor. The fight that followed led to Avdol's death at the hands of the two Stand users as Kakyoin arrives to aid Polnareff. The two are forced to flee with the Hanged Man Stand in pursuit, Polnareff realizing the Stand's nature as a light-based being that moves between reflective surfaces. He traps the Stand in his eye and wounds it, revealing that Geil is near.
    </p>
    <p>
        Although Geil baits the duo into a trap and gathers a group of beggars toward them, Kakyoin makes them focus on one shiny coin and tosses it into the air. Polnareff then blinds the one beggar with Hanged Man in his eye and forces the Stand to come out, defeating it with a slash. Polnareff then avenges Sherry by finishing off Geil, his death sensed by his mother Enya the Hag. Hol Horse arrives too late to learn of Geil's demise, only escaping the assembled Joestar group due to the intervention of a pretty Indian girl named Nena whom he seduced earlier. Jotaro and Joseph tell Polnareff that they have already buried Avdol and that they should move on.
    </p>
    <p>
        On the way to Varanasi, joined by the Nena, Joseph notices a boil on his arm as he heads to a clinic with Polnareff to have it treated. But the boil turns out to be the Empress Stand, who killed the doctor to frame Joseph for murder while Nena distracts Polnareff to keep him from aiding Joseph from escaping the police. Although Empress grows enough to physically threaten Joseph, the old man uses his Hermit Purple to find a barrel of coal-tar and use it to immobilize the Stand so he can kill it. This kills Nena as consequence, revealing her to be an short obese woman wearing the skin of a woman she murdered prior. The group then leaves Varanasi and continue westward.
    </p>
    <p>
        En route to Pakistan, the party meet the stowaway girl again and take her with them. However, a mysterious car driver stalks them and eventually leads them to a cliff where he ambushes them. The enemy's car is revealed to be their Stand, Wheel of Fortune, which battles Jotaro. Wheel of Fortune sprays Jotaro with gasoline and sets him on fire. It seemingly kills the protagonist, but instead only burns up his coat; Jotaro has dug a tunnel to approach the car undetected and destroys it while exposing its user ZZ. The group ties him to a rock and leaves him. After dropping the stowaway girl in a plane bound for Hong Kong, the Joestar Group reaches Pakistan.
    </p>
    <p>
        On the way to Karachi, their travel is jeopardized by the heavy fog and find a town inhabited by strangely hostile people. Enya Geil appears, faking being a gentle hotel owner, then persuades the group to rest for the night at her establishment so she can personally kill the Joestar Group and avenge her son. Enya also attempted to kill Hol Horse for his role in his son's demise before attacking Polnareff with the zombies animated by her Stand Justice. But Jotaro intervenes and has Star Platinum inhale Justice to knock Enya out, revealing the town to be a graveyard while Hol Horse flees again.
    </p>
    <p>
        Once the Joestar Group arrive in Karachi, they are powerless to prevent Enya from being executed by Steely Dan activating a spore DIO has planted in her brain to prevent her from revealing their master's Stand. Despite being betrayed, Enya dies refusing to help the Joestar group.
    </p>
    <p>
        Steely Dan then reveals his Lovers Stand, which can become microscopic to enter someone's brain. He sends Lovers into Joseph's brain to plant more of DIO's spores and hold him hostage, forcing Jotaro to become personal manservant. Luckily, shrinking their Stands to microscopic size, Polnareff and Kakyoin managed to force Lovers out of Joseph. Meanwhile, Jotaro notices that Steely Dan is injured and proceeds to threaten him with a beating. Steely Dan attempts to first enter Jotaro's brain and then a little girl's head to take her as a hostage, but Star Platinum foils both attempts. Jotaro repays his humiliation with a long beatdown.
    </p>
    <p>
        After the group reaches the United Arab Emirates, they proceed to cross the desert on camelback before they are attacked by Stand in the form of the Sun. It shoots powerful blasts of energy down on the group and forces them to hide under a rock. The long wait under the scorching heat proves difficult to bear, and Joseph watches with horror as his companions begin to madly laugh. In truth, they have spotted the Stand user hidden behind a mirror and take him out with a small rock.
    </p>
    <p>
        That night, Kakyoin finds himself trapped in a nightmarish theme park where Death Thirteen attacks him. However, Polnareff wakes him up; Kakyoin somehow completely forgets about his dream.
    </p>
    <p>
        The group buys a Cessna to cross the desert and are saddled with a baby. Kakyoin and Polnareff doze off and are attacked in their shared dream by Death Thirteen again. They realize with horror that they cannot summon their Stands to defend themselves. Kakyoin takes a knife and engraves the words "baby stand" on his arms and struggles so violently it translates into the real world, and his agitation eventually causes a crash.
    </p>
    <p>
        The group sets up camp for the night, while the baby waits eagerly to be free to kill them. Kakyoin rightfully suspects the baby, but only convinces his companions that he's delirious. When he summons Hierophant Green to attack the baby, Polnareff knocks him out. Everyone falls asleep and finds himself in the dream, unable to fight Death XIII. Fortunately, Kakyoin being knocked out with his Stand still summoned allowed him to keep it in the dream, and Hierophant Green manages to defeat the enemy Stand. All finally wake, having forgotten about the dream except Kakyoin who intimidates the baby into leaving them alone by scooping up some of his feces from his diaper and mixing it into his baby food.
    </p>
    <p>
        On an island in the Red Sea, the group meets Muhammad Avdol's father, who doesn't want to see them because of his son's death. Afterward, Polnareff wanders alone and finds an Arabic oil lamp. Rubbing it, the Frenchman summons Judgement and is convinced that he's encountered a real genie. He wishes for his sister Sherry and for Avdol to come back to life, but he is attacked by their zombies instead. However, the real Avdol reveals himself and intervenes, destroys the revenants - which are revealed to be Judgement's clay sculptures, and defeats the enemy Stand. Avdol then discovers Judgement's user and defeats him.
    </p>
    <p>
        When Polnareff reunites with the group, he learns that Avdol merely had faked his death, and everyone hid the truth from him for fear he might reveal it to an enemy. Free to act, Avdol reveals a submarine which the group board in order to enter Egypt unnoticed.
    </p>
    <p>
        However, they soon come under attack by High Priestess, a Stand that can take the form of anything metallic. It destroys the submarine, forcing the Joestar Group to equip diving gear and swim to the surface of the Red Sea. High Priestess then takes the form of a giant head made out of the sea's bedrock and sucks the group inside its mouth. Jotaro is seemingly crushed between High Priestess's teeth, but Star Platinum destroys them all, defeating and disfiguring the user. The Joestar Group has finally reached Egypt.
    </p>
    <p>
        Upon arriving in Abu Simbel, the heroes buy a car and make a stop near some ruins in the desert. Here they meet with agents of the Speedwagon Foundation who give the group supplies. In addition, they bring Iggy, a Boston Terrier and the user of The Fool, a Stand made of sand. Finally, they reveal the existence of nine additional Stand users who await the Joestar Group in the country.
    </p>
    <p>
        Coincidentally, N'Doul ambushes the group in the desert with Geb, a Stand of water. Not only can it hide under the sand and attack from everywhere, its user is kilometers away. Kakyoin's eyes are slashed and Avdol's throat is cut, taking out both. Jotaro forces Iggy to help because he can sense the attacks, but the dog tries to flee by making a glider out of the sand. Jotaro exploits this to approach N'Doul and land a decisive punch, defeating him.
    </p>
    <p>
        As the Joestar Group arrives in Aswan, Oingo and Boingo, users of the face-altering Stand Khnum and the future-predicting comic book Tohth respectively, attempt to assassinate the heroes. At first, Boingo predicts that Joseph, Jotaro, and Polnareff will drink poison and infiltrate a cafe where the group is headed to. Although everyone sips their poisoned tea, Iggy causes a ruckus, making them spit the poison.
    </p>
    <p>
        Boingo then predicts that Jotaro's head will be split by a bomb. Oingo tries to plant a bomb hidden inside an orange in the group's car but is surprised by Joseph and Polnareff. He is forced to mimic Jotaro, taking the bomb with him on the ride. Already envisioning the worst, Oingo tries to get rid of the bomb and get away from Joseph and Polnareff, but events conspire to keep him trapped. When he manages to flee, he accidentally triggers his own bomb and is sent to the hospital. Oingo and Boingo are defeated without being noticed.
    </p>
    <p>
        As the Joestar Group navigates down the Nile, Anubis, a sword inhabited by a Stand, possesses a farmer named Chaka. It brainwashes him into wielding it to kill the heroes. In the Temple of Kom Ombo, Chaka fights Polnareff and although Silver Chariot is weaker, it unveils a secret technique. The Stand shoots its sword and defeats Chaka, then Polnareff takes Anubis with him, unaware of its true nature.
    </p>
    <p>
        In Edfu, Polnareff and Jotaro to go a barber named Khan to have a shave. Khan gets possessed and easily defeats Polnareff because of its power of memorizing the techniques of the enemy. Jotaro intervenes and defeats Khan with difficulty, but the situation worsens when Polnareff is possessed. Star Platinum is overwhelmed by the combination of Anubis and Silver Chariot and Polnareff stabs Jotaro in the gut with Anubis. With the sword in his stomach, Jotaro manages to break it into many pieces and wins. A last assassination attempt by Anubis is thwarted by Iggy and Anubis is thrown into the Nile.
    </p>
    <p>
        In Luxor, Joseph discovers an electrical outlet poking out of a rock and is shocked. It is, in reality, Bastet, the Stand of Mariah, one of the Egypt 9 Glory Gods. Joseph is magnetized and begins to attract all kinds of metallic objects. He and Avdol discover and pursue Mariah, but Avdol has been magnetized too. Their chase is made all the more difficult because the duo attracts each other and attract other objects, but they manage to surround Mariah. Joseph and Avdol, covered in myriads of metal items, then turn Bastet against its user and crush Mariah by rushing toward each other.
    </p>
    <p>
        Meanwhile, Jotaro and Polnareff are stalked by DIO's next assassin, Alessi. Polnareff notices Alessi stalking him and confronts him alone. However, Alessi's Sethan reduces Polnareff and Silver Chariot to children. Polnareff flees and is taken by a kind woman who brings her to her home. Alessi then attacks Polnareff again, and the child finds himself trapped in a room without exit, Alessi banging at the door.
    </p>
    <p>
        When Alessi enters the room, Polnareff ambushes him from a clever hiding spot and forces him to jump down a window. He then encounters Jotaro and turns him into a child too, only for Jotaro to still pummel him. Jotaro and Polnareff are transformed back into adults and finish off Alessi.
    </p>
    <p>
        Having fought their way across all of Egypt, the Joestar Group has reached Cairo at last. In the outskirts of the sprawling city, the group encounters Daniel J. D'Arby, who offers information on where DIO resides if they gamble with him. He reveals himself as one of the Egypt 9 Glory Gods when he wins a gamble against Polnareff and his Osiris steals the Frenchman's soul.
    </p>
    <p>
        The heroes are forced to gamble their souls and Joseph loses a second game, his soul taken by Osiris. Jotaro challenges D'Arby to a game of poker and despite D'Arby having rigged the entire bar in his favor, loses when Jotaro confidently gambles the whole party's souls plus his own mother Holy. Goaded into gambling information on DIO's Stand, D'Arby panics. He folds, releasing all of his stolen souls, and goes mad.
    </p>
    <p>
        Hol Horse returns from Aswan with Boingo, whose Tohth can give him an edge against the Joestar Group. He discovers first hand the potential of using the comic book's prediction when he saves a woman from a scorpion and is rewarded with jewels.
    </p>
    <p>
        Hol Horse's first attempt is foiled but he is saved when a car knocks everyone over. While the heroes are recovering, Tohth gives the prediction that Jotaro will be shot in the head by midday. Hol Horse shoots in advance and Jotaro evades Emperor's bullets by accident, which return to Hol Horse and pierce through the comic book where the bullet holes were drawn, fulfilling the prophecy. Hol Horse is taken out while Iggy defeats Boingo. While the group is busy searching for DIO's Mansion, Iggy discovers it by accident and meets Pet Shop, a pet falcon and the user of the ice-slinging Stand Horus.
    </p>
    <p>
        A fight ensues when Iggy saves a child from Horus, but the dog can only flee the bird. Taking refuge in a sewer, Iggy is followed by Pet Shop but manages to land a single blow. In response, Pet Shop unleashes the full power of his Stand and eventually forces Iggy into the Nile, where he builds a sand dome to protect himself. Pet Shop attacks Iggy within, but dies when Iggy bites his beak shut as he tries to spit an icicle. Iggy is then saved from the river by the child from earlier.
    </p>
    <p>
        Kakyoin finds Iggy and reunites with the rest of the Joestar Group. The dog then guides everyone to DIO's Mansion. When the group opens the front door, they are welcomed by Telence T. D'Arby, younger brother of Daniel J. D'Arby and butler of the mansion. His Stand, Atum, manages to drag Jotaro, Joseph and Kakyoin deeper inside the mansion. The three find themselves in Telence's room, a facsimile of a tropical island in the middle of the sea. Telence challenges Kakyoin to a game of "F-Mega" and, after a heated match, wins his soul.
    </p>
    <p>
        He subsequently plays against Jotaro at "Oh! That's a Baseball!". It is then that Telence secretly uses his ability to read through souls and guess Jotaro's plays and takes the advantage. However, Jotaro's soul then contradicts his plays, shocking D'Arby who cannot discover how Jotaro is cheating. When he loses, freeing Kakyoin, Telence discovers that Joseph has been discreetly playing in Jotaro's place all this time. Jotaro then pummels Telence.
    </p>
    <p>
        While Jotaro, Joseph and Kakyoin exit Telence's room, Vanilla Ice, one of DIO's last minions, informs the Vampire of their status. DIO orders Vanilla Ice to kill himself and offer his blood, which the latter executes without question. Encouraged by this demonstration of fealty, DIO resurrects Vanilla Ice as a vampire and sics him on the Joestar Group.
    </p>
    <p>
        Polnareff, Iggy, and Avdol enter the mansion and find themselves in an illusory maze, but easily dispose of the Stand user. Vanilla Ice ambushes the group and kills Avdol as he pushes his companions out of the way. Cream, a Stand that can swallow Vanilla Ice and create a portal into the void that disintegrates everything around it while remaining undetectable by the senses, is beyond Polnareff and Iggy's power to defeat.
    </p>
    <p>
        The two flee to the second-floor gallery and try to ambush Vanilla Ice by using Iggy's Stand to mimic DIO with a stand statue, but it fails and Vanilla Ice repeatedly and violently kicks him. Polnareff is disabled and Vanilla Ice hides again inside his Stand. Scattering sand around the room, the Frenchman manages to stab Ice's throat, but Ice has begun transforming into a Vampire and breaks free while wounding Polnareff. Unable to move, Polnareff is almost killed by Cream, but Iggy spends the last of his strength to lift Polnareff out of the way and expires. Polnareff manages to push Vanilla Ice into the sunlight and slays him.
    </p>
    <p>
        Polnareff confronts DIO, who finally reveals his Stand The World, but is confounded by the vampire's powers. Before the fight can continue, Jotaro, Joseph and Kakyoin break through an outer wall and make DIO retreat away from the sunlight. They ascend a tower with Nukesaku in tow, but when they reach its top, Nukesaku is instantly ripped to pieces. Fearing DIO's ambush, the Joestar Group jumps out of mansion through a window and see the dusk with dread.
    </p>
    <p>
        The group splits in two: Kakyoin and Joseph luring DIO while Jotaro and Polnareff will follow him. A car chase ensues between DIO and Joseph and Kakyoin across the streets and then the roofs of Cairo. Risking his life, Kakyoin probes The World's ability. Kakyoin unravels Hierophant Green to attack DIO from all sides, and the Vampire finally uses his power.
    </p>
    <p>
        DIO stops the flow of time and within the five "seconds" he's allowed, has The World punch through Kakyoin. While the Vampire gloats, Kakyoin manages to grasp the power of his foe. Unable to speak, he shoots a clock tower before dying, making Joseph understand The World's ability. DIO pursues Joseph and just as the old man warns Jotaro about DIO, the latter stops time and launches a knife to his throat. Joseph is stabbed and loses consciousness.
    </p>
    <p>
        Jotaro and Star Platinum clashes with DIO and The World. Jotaro can move briefly during the stopped time and manages to wound DIO. The Vampire regenerates anyway and forces Jotaro's bluff about how much he can move during the time stop by throwing a myriad of knives at him. Jotaro is stabbed in multiple limbs and falls to the ground.
    </p>
    <p>
        DIO approaches to deal the final blow when Polnareff tries to stab him from behind, but DIO doesn't die and punches Polnareff into a wall. To save his companion, Jotaro, who has been playing dead, must move a little to make DIO focus on him. During the following seconds, DIO tries to discover if Jotaro's really alive, and pushes the youth to even stop his own heart. At the last moment, DIO is convinced and approaches Jotaro, but Star Platinum appears and deals a crushing punch to the head.
    </p>
    <p>
        DIO is disabled, but lures Jotaro into punching him towards Joseph's corpse. The Vampire feeds on Joseph's blood and, now fully synchronized with Jonathan Joestar's body, becomes more powerful by the second. DIO tries to crush Jotaro under a road roller, but pushed to his limits, Jotaro stops time. He manages to sneak up on DIO and crushes his leg. On the ground, DIO tries a last futile attack, and Star Platinum breaks The World, defeating DIO for good.
    </p>
    <p>
        After his victory, Jotaro oversees a blood transfusion from DIO to Joseph and revives his grandfather. Afterward, they expose the Vampire's remains to the sun and disintegrate him.
    </p>
    <p>
        Some time later, Jotaro, Joseph, and Polnareff say their goodbyes to one another before going their separate ways. Holy finally awakens back in Japan and eagerly awaits her son and her father's return.
    </p>
</div>

