@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Part5";
}

<div class="text-center">
    <h1 class="display-4">Vento Aureo Summary</h1>

    <p>
        In the year 2001, Koichi Hirose arrives in Naples at Jotaro Kujo's request in order to investigate a boy named Haruno Shiobana, also known as Giorno Giovanna, revealed as DIO's son. Giorno steals Koichi's luggage thanks to his Stand, Gold Experience, which allows him to transform inanimate objects into living creatures. Giorno is then accosted by Leaky-Eye Luca, a member of Naples' dominant gang Passione, who dies upon having his aggression reflected at him by Giorno's Stand power.
    </p>
    <p>
        In response, Giorno is confronted by Bruno Bucciarati, also a Passione member, sent to investigate the circumstance of Luca's death, who unmasks Giorno, attacking with his Stand, Sticky Fingers, that has the ability to create zippers on anything. A flashback then ensues, detailing Giorno's growth from a timid, bullied child into a more confident and charismatic teenager. Exceeding Bucciarati's expectations and defeating him with Gold Experience's profound abilities, Giorno establishes a rapport with Bucciarati by exposing a mutual distaste for Passione's practices in dealing with drugs, particularly to minors. Bucciarati then accepts to help Giorno infiltrate Passione.
    </p>
    <p>
        After their fight, Bucciarati offers Giorno a chance to join Passione. Giorno meets the Passione lieutenant, Polpo, who is currently in a prison cell. Polpo then interviews him and gives him a lighter with the instruction of keeping it lit for 24 hours before meeting him again. Giorno returns to his school dorm and protects Polpo's lit lighter as part of his test, but Koichi complicates Giorno's task when he breaks into Giorno's room in search of his passport. When the flame is extinguished by a passing janitor, and then reignited by the same janitor, Polpo's Stand, Black Sabbath, appears, taking an Arrow from its mouth and stabbing the janitor with it, killing him. Black Sabbath, which is very powerful in the shadows but weak otherwise, almost stabs Giorno, but Koichi intervenes.
    </p>
    <p>
        Giorno explains his aspiration to Koichi who acknowledges him as the spiritual descendant of the Joestar family. Having received Koichi's advice as to the nature of Polpo's Stand, Giorno manages to lure Black Sabbath into the open and successfully destroys it. The following day, after receiving his membership badge, Giorno kills Polpo to avenge the janitor.
    </p>
    <p>
        Bucciarati explains to Giorno the structure of Passione, and that if they wish to come close to the Boss, they require a higher rank. Giorno meets Bucciarati's comrades (as part of Team Bucciarati): Narancia Ghirga, Guido Mista, Leone Abbacchio, and Pannacotta Fugo. When Abbacchio tries to measure and humiliate Giorno by making him drink his urine, Giorno appears to swallow his cup in one gulp, impressing the gang.
    </p>
    <p>
        After Polpo's death, two gangsters discuss Polpo's apparent suicide and the rumor of his hidden fortune as Bucciarati takes his group on a yacht to Capri in order to recover this approx. ¥600,000,000, with which he aims to buy a position as an Operative. As Bucciarati is the only other person to know where it is, he becomes targeted by his fellow gang members.
    </p>
    <p>
        On their way to Capri, the group is targeted. Narancia, Mista, and Fugo disappear after an attack by a hidden assailant. Giorno volunteers to be attacked in order to help figure out information of the assailant and is stabbed by an arm emerging from the lower deck, before deflating like a balloon. Abbacchio activates his Stand Moody Blues, replaying Narancia's history and revealing that he was deflated. Moody Blues shows Narancia as having been hidden in a pipe while deflated. After Abbacchio allows himself to be attacked while tracking him, it is revealed that their boat was layered early by another deflated boat and Mario Zucchero of the Stand Soft Machine is quickly defeated by Bucciarati.
    </p>
    <p>
        Mario Zucchero is exposed as a Roman Passione member and subsequently tortured, before Moody Blues shows him radioing the group's destination, suggesting that his partner has by now overtaken the group to Capri. Mista reveals his Stand Sex Pistols, able to redirect and ricochet the bullets from his handgun, and agrees to ride with Giorno ahead of the group directly to the Marina Grande port of the island. Giorno and Mista manage to lure out the enemy, but he escapes and only Mista is able to follow him. Fellow Passione member Sale reveals his Stand, Kraft Work; capable of freezing/sticking objects in place by touching them. Despite Kraft Work's power, Mista manages to lodge two bullets in Sale's head, defeating him.
    </p>
    <p>
        Team Bucciarati gathers in a public restroom on Capri. Summoned earlier, an Operative named Pericolo collects the ¥600,000,000 (stored with Sticky Fingers within a urinal), before in turn bestowing Bucciarati the status of an Operative, along with Polpo's last order from the Boss: Protect his daughter, whom is present along with Pericolo disguised as a cleaner. Trish Una is introduced by Pericolo.
    </p>
    <p>
        Pericolo explains that two months prior, Trish's mother Donatella died two days after commissioning an independent search for Solid Naso; the Boss's false identity. Members of Passione learned of these events, and the Boss ordered Pericolo to find and hide Trish; revealing that he is her father. Soon, traitors within the gang began an attempt to kidnap her, aiming to overthrow the Boss. Pericolo gives the length of Bucciarati's assignment as one week, explaining that the Boss is trying to identify his pursuers, and that like Polpo, the traitors are Stand users. Elsewhere, one of said traitors learns via instant messaging of Polpo's death; concluding that his assignment must have passed onto another Operative and Stand user.
    </p>
    <p>
        Later, Narancia brings groceries and items of Trish's request back to the group's hideout. In the car prepared for him by Fugo, Formaggio appears, striking Narancia with his Stand Little Feet. Narancia retaliates with his own Stand Aerosmith, a miniature fighter plane, as Formaggio deduces that Bucciarati's group is hiding Trish. Narrowly missing Formaggio, Narancia finds himself shrinking. Narancia's unfortunate history and the circumstances of his recruitment in Passione are detailed.
    </p>
    <p>
        A fight ensues between a shrunken Formaggio and a shrinking Narancia. Narancia is overcome; and the history of Formaggio's traitorous group of assassins is given, including the account of the deaths of Sorbet and Gelato. Formaggio suggests that Trish's Stand represents a clue as to the Boss's identity. Trapped, Narancia destroys his car, hurting Formaggio and removing Little Feet's effect on him. When Formaggio tries to escape, Narancia cuts off every way of escaping with causing a fire in the whole street, finally defeating him at close range.
    </p>
    <p>
        Bucciarati and the gang receive a message from the Boss via e-mail requesting they find a "key" that will grant them safe passage to their destination. Bucciarati, Narancia, and Mista stay behind to protect Trish while Giorno, Abbacchio, and Fugo head to the ruins of Pompeii to retrieve the key. There, Fugo spots a strange figure in a mirror that Giorno and Abbacchio can't see.
    </p>
    <p>
        The figure in the mirror is revealed to be Illuso, a member of La Squadra Esecuzioni. His Stand, Man in the Mirror, entraps Fugo in a mirror world, leaving Fugo's violent Stand Purple Haze behind. When Abbacchio leaves Giorno behind to take the key, he too is confronted by Illuso and is half-trapped in the mirror world. Abbacchio's fall from law enforcement into crime is also narrated, one case leading to the death of his partner.
    </p>
    <p>
        Abbacchio severs his own hand so that Moody Blues can deliver the key to Giorno. Illuso attacks Giorno only to find that he has brought the Purple Haze's virus with him. Illuso attempts to escape, only to be caught by Purple Haze itself and is killed. Giorno then takes a vaccine from a snake created by Gold Experience. Fugo puts his faith in Giorno upon seeing his calculated actions.
    </p>
    <p>
        Later, the group has examined the key and seen that further instructions are written on it: the group must immediately go to Venice by train. Before boarding a train to Florence per the Boss's instructions, Bucciarati discovers that the key fits into the back of a turtle. This turtle, named Coco Jumbo, is a Stand user that allows the entire gang to shrink down and enter a small, furnished room inside of its body. The gang boards the train hiding inside Coco Jumbo.
    </p>
    <p>
        However, partner assassins Pesci and Prosciutto also board the train in search of Trish. Unable to locate Bucciarati's gang, Prosciutto uses his Stand The Grateful Dead to make everyone on board the train grow old. Thankfully, Giorno figures out that keeping one's body temperature cooler slows the aging (this "loophole" was meant to keep Trish from aging too fast). Equipped with a few ice cubes, Mista exits the turtle and almost kills Pesci despite his Beach Boy but is ambushed by Prosciutto who nearly kills him. Sex Pistols' No.6 goes to warn Bucciarati, allowing him to engage the assassins. Bucciarati jumps out of the train taking Prosciutto with him, and manages to make him fall to the ground while he clings to Beach Boy's hook.
    </p>
    <p>
        Prosciutto is crushed in the machinery of the train but maintains his Stand, which inspires Pesci and allows him to handle Beach Boy with much more skill than before. Hidden in a wagon, Bucciarati is forced to section his heart to avoid Beach Boy's hook and almost dies, but the assassin relents and makes the train stop. After a quick showdown, Bucciarati bests Pesci while Prosciutto dies from his wounds. However, it is shown Prosciutto has called for reinforcement. The gang is no longer able to travel via the train. Trish reveals to Bucciarati that she can see Stands.
    </p>
    <p>
        Melone, a member of La Squadra Esecuzioni, arrives at the scene of Pesci and Prosciutto's deaths and retrieves a sample of Bucciarati's DNA. Using this and his Stand Baby Face, Melone "impregnates" a hot-headed young woman on board the train in order to "birth" a remote Stand that will pursue Bucciarati. The gang is in the process of stealing a car when Baby Face reaches them. Capturing and incapacitating both Trish and Bucciarati, Baby Face uses its ability to cut out cubes of things and steals a piece of Giorno's throat, foot and eye.
    </p>
    <p>
        Giorno almost dies but thankfully is inspired to use his power to create individual organs. Giorno confronts Baby Face once more after being seemingly mortally wounded. After a tense give-and-take between the two, Baby Face tires of following Melone's advice and tries to attack his enemy head-on, allowing Giorno to easily outsmart and defeat it by fusing it to Melone's motorcycle and exploding it. A piece of Baby Face (turned into a venomous snake via Gold Experience) returns to Melone and bites him, killing him as he's on the phone with another member pursuing Team Bucciarati. The protagonists successfully steal a car, and receive a message from the Boss via Abbacchio's Moody Blues. In this Stand-created afterimage, Pericolo reveals the location of a "disk" the gang must find in Venice before taking his own life.
    </p>
    <p>
        Mista's past is revealed, his talent for marksmanship having been noticed by Bucciarati, who made him join the gang in exchange for getting bailed out of what would have been twenty years in prison. Giorno and Mista drive the stolen car together to get the disk at the train station. However, they are soon attacked by Ghiaccio whose White Album can freeze objects. Coated in a thick ice armor, Ghiaccio sabotages the car through sheer cold and despite Giorno and Mista's efforts, they are driven into the sea. Giorno is imprisoned but Mista carries on the fight; the gunslinger then uncovers White Album's weakness: a breathing hole near White Album's neck.
    </p>
    <p>
        Mista and Giorno work together to get past White Album's defenses. With new-found courage from Giorno, Mista is able to force Ghiaccio onto a splintered lamppost by the hole in his Stand before nearly dying. Giorno catches up to the two and Ghiaccio is finally killed, rapidly kicked by Gold Experience until his neck is fully run through. Mista puts his faith in Giorno upon seeing his powerful determination. Giorno subsequently retrieves the disk and heals Mista as the rest of the team joins them.
    </p>
    <p>
        Bucciarati consults the disk, which contains the Boss' last order for the team's mission. They are to go to the San Giorgio Maggiore Island, then one of the members will alone accompany Trish to the belfry at the top of the church and use an elevator to get her to the Boss. Bucciarati volunteers to accompany Trish. In the elevator, Trish expresses her fear at meeting her estranged father, but Bucciarati reassures her of her father's love. Suddenly, Bucciarati finds out he's holding Trish's severed hand and slowly realizes with horror that the Boss wanted Trish brought to him so he could personally kill her.
    </p>
    <p>
        Bucciarati's past is revealed. His father having been critically injured by drug traders and Bucciarati subsequently killing them in revenge at the age of 10, the young Bucciarati was forced to join Passione for protection, and he gradually felt more conflicted as Passione itself began to dwell into the same drug trade he despised. Injuring Trish pushes Bucciarati to revolt against the Boss, and he pursues him down the elevator shaft.
    </p>
    <p>
        Bucciarati tracks the Boss to the basement, and a fight ensues. The Boss reveals his Stand King Crimson and his vastly powerful ability of time erasure. Overwhelmed by King Crimson's power, Bucciarati is fatally injured while the Boss is left untouched, and is left utterly defeated before assistance from Gold Experience and Coco Jumbo allows him the chance to escape with Trish and regroup with Giorno and the rest of his gang. Unwilling to risk revealing himself, the Boss leaves, swearing to kill the traitors. Giorno attempts to heal Bucciarati, apparently to no effect, before he abruptly wakes up.
    </p>
    <p>
        Bucciarati subsequently announces to his team that he officially betrayed the Boss. Initially frightened, Bucciarati's teammates join his cause, with the exception of Fugo, who stays behind for fear of becoming a target as the rest of the team leave on the boat. At the same time, Giorno discovers that Bucciarati no longer feels pain or bleeds, and is unusually cold to the touch.
    </p>
    <p>
        Still in Venice, Giorno's companions discuss about how to defeat the Boss. Trish wakes up and reveals that her mother met the Boss in Sardinia, in which they could learn of him. Narancia is then attacked by the duo Tizzano and Squalo, Tizzano's Talking Head rendering Narancia unable to tell or communicate the truth and luring the group near water bodies so that Squalo's Clash can attack them. Giorno discovers the charade, but is defeated by the enemies. Giorno nonetheless advises Narancia to track the Stand Users instead, using himself as bait, and Narancia manages to discover where Tizzano and Squalo are hiding and kills them both in a straight fight. Giorno's assistance earns him Narancia's faith.
    </p>
    <p>
        The gang then leaves Venice in search of an airplane. At the airport, The gang is confronted by Carne while stealing an airplane. However, he is promptly killed by Mista when he reveals his Stand Notorious B.I.G, with relative ease as well. While in flight, Notorious B.I.G attacks the gang, and reveals itself as fast, strong, and above all invincible as it no longer has a user. Mista and Narancia are heavily injured, and Giorno amputates both his hands to get rid of the enemy Stand, now unable to heal. Alone in the cabin, Trish notices that Notorious B.I.G is still on the plane. Moreover, she sees that Giorno has left a brooch from which a new hand is growing and resolves to protect it. The pressure allows Trish to awaken Spice Girl which can soften things and render them indestructible. With Spice Girl's counsel, Trish manages to reach the cockpit with Giorno's new hand. To get rid of the invincible Notorious B.I.G, Trish also destroys the plane and drops the enemy Stand into the sea.
    </p>
    <p>
        Meanwhile in Venice, the Boss discovers that one photo links him to Sardinia, especially a location named La Costa Smeralda, he subsequently decides to go to Sardinia in order to stop Abbacchio's Moody Blues from replicating his face.
    </p>
    <p>
        A young man named Vinegar Doppio is confronted by a fortuneteller in an alley, who divines Doppio's past. Provoked by the fortuneteller's insistence and accuracy of his readings into Doppio's past and future, Doppio assaults him while transforming into a tall unknown individual. Said unknown man tortures his victim into divining the leader of Squadra Esecuzioni, Risotto Nero before killing him, revealing his Stand to be none other than King Crimson. From the shadows of the alley emerges Doppio.
    </p>
    <p>
        Later, Doppio stops near La Costa Smeralda, revealing that he communicates with Passione's Boss by mimicking a telephone call with mundane objects. The Boss warns him that Risotto is observing Doppio at the moment, Nero confronts Doppio and interrogates him about why he came here. As both notice Aerosmith, Nero deduces that Doppio is a Stand user, and a fight begins between Doppio, counseled by the Boss, and Risotto. Despite Doppio's Epitaph which can foresee the future, Risotto steadily corners him but at the last moment is critically injured by Aerosmith, lured into the battle by Doppio.
    </p>
    <p>
        Doppio transforms into the Boss and finishes off Risotto. Despite his weakened state, the Boss still escapes from Bucciarati and Narancia. Meanwhile, Abbacchio is rewinding time near a stone pillar in order to recreate the Boss's face. However, he is tricked into helping a group of kids and the Boss in Doppio's body has King Crimson kill him. Abbacchio dies, shocking the whole team, but his sacrifice is not in vain as Giorno discovers a negative of the Boss's face and fingerprints imprinted in the nearby stone, Moody Blues having rewound time far enough and left it as Abbacchio's legacy.
    </p>
    <p>
        The gang investigates the Boss without success, but their investigation is noticed by a third party, who contacts them and proposes to meet in Rome to be given an Arrow, the artifact hiding a power that can potentially defeat King Crimson's time erasure. The gang also learns of the Boss's name: Diavolo.
    </p>
    <p>
        A flashback reveals the origins of the Arrows and the Stands. Diavolo, observing the gang from afar, is suspicious of their unwavering determination. He thus orders Doppio to follow the gang to Rome and to call the duo of operatives Cioccolata and Secco to help eliminate the team. Arriving at a coastal village, the gang discovers they are attacked by a strange mold.
    </p>
    <p>
        In the plane toward Rome, Diavolo reveals Cioccolata's gruesome past to Doppio. When Narancia retreats from the mold, its growth is further accelerated, leading to the gang deducing that the mold attacks people when they move downward. Cioccolata and Secco are revealed filming the gang from a distance. With much difficulty, the gang manages to steal a car. Bucciarati finally reveals that he has been undead since his first confrontation with the Boss. He exploits his immunity to the life-eating mold and knocking Secco, whose Oasis allows him to swim in the ground and protects him, out.
    </p>
    <p>
        In the road to Rome, the gang realizes that Cioccolata's Green Day has spread its mold into Rome. Seeing that Cioccolata is operating from a helicopter and Secco diving into the streets to fight them head-on, Giorno and Mista immobilize the helicopter at the top of a tower by combining their abilities, and go confront the mad doctor while Bucciarati takes care of Secco. At the top of the tower, Cioccolata almost kills Mista but Giorno then manages to kill Cioccolata after a long clash. However Cioccolata heard that the gang is headed toward the Colosseum to get an unstoppable power, and has informed Secco upon his death.
    </p>
    <p>
        In the streets, Bucciarati is physically bested by Secco. The fight transforms into a race toward the Colosseum, the third party being eventually revealed to be Jean Pierre Polnareff. When Bucciarati deafens Secco, crippling his fighting ability, Secco is forced to take an unwitting Doppio hostage. Bucciarati promptly defeats Secco without harming Doppio but his he collapses as it seems his body has reached its limit. Not knowing who Doppio is, Bucciarati accepts Doppio's help, allowing the Boss to approach the team's objective.
    </p>
    <p>
        Leading an injured Bucciarati toward the Colosseum, Doppio is told that Bucciarati is in fact undead and can only feel people's souls. Diavolo then uses his soul's resemblance to Trish's to his advantage and gains his trust, and the two sneak past the rest of the gang, all members present and waiting to enter to Colosseum. Parts of Diavolo's mysterious past are revealed, and as Bucciarati and Doppio confront Polnareff from afar, so is Polnareff's past investigation of the Arrows in Italy, leading to a fight where Diavolo heavily debilitates him and sends him off a cliff. When Polnareff appears, Diavolo spurs into action.
    </p>
    <p>
        Diavolo emerges from Doppio and confronts Polnareff, easily besting him thanks to King Crimson. Cornered, Polnareff pierces Silver Chariot with the Arrow but is then killed for good. Silver Chariot then undergoes an intense transformation just as Team Bucciarati enters. Turning into Chariot Requiem, the new Stand forces everyone in Rome to sleep and takes the Arrow.
    </p>
    <p>
        When they wake up, the gang slowly realizes that their souls were switched between bodies. Narancia having switched with Giorno, and Mista with Trish. Polnareff switched his soul with Coco Jumbo and thus lives on as the turtle. He reveals them that a Stand pierced by the Arrow can upgrade itself into Requiem under the right conditions, gaining metaphysical powers above even Diavolo's time elimination, but the Arrow is protected by Chariot Requiem which turns Stands against their Users if they think about taking it. The group joins with Bucciarati in Diavolo's body and thus kill whoever is in Bucciarati's body. However, time is erased and Narancia is killed, shocking everyone. Thus Polnareff guesses that Diavolo is a split personality and he is still roaming somewhere while the other personality was killed.
    </p>
    <p>
        In the streets, it becomes clear that King Crimson is near. The group realizes that Diavolo is possessing one of them, but before they can confirm any suspicion, King Crimson knocks Giorno out then takes control of Mista's body which was where he was hosted. Diavolo then quickly runs toward Chariot Requiem. Thanks to his keen mind and King Crimson's forecast, he avoids every attack and defeats Chariot Requiem, almost taking the Arrow for himself.
    </p>
    <p>
        However, the Arrow phases through his hand as Bucciarati manages to completely destroy Chariot Requiem and every soul is forced back into their original body, saving Trish and keeping the Arrow out of Diavolo's reach at the same time. Bucciarati himself ascends to Heaven instead, after a brief yet emotional farewell with Giorno. Giorno, with newfound resolve, takes the Arrowhead into his hands.
    </p>
    <p>
        Diavolo decides to confront Giorno, having foreseen the Arrow rejecting him for being "unworthy", and attacks Gold Experience as Giorno pierces his Stand with the Arrow, to no effects at first view. King Crimson smashes Gold Experience's face, revealing something underneath.
    </p>
    <p>
        As King Crimson attacks Gold Experience once more, Diavolo realizes that the Stand is nothing more than a heap of molted skin. He looks up to see Giorno with a brand new Stand: Gold Experience Requiem. At first, Gold Experience Requiem doesn't show anything particularly amazing, so Diavolo erases time and moves in to finish Giorno off as Epitaph foresees. However, before he can land the finishing blow, the erased time is restored. Gold Experience Requiem itself talks to Diavolo and presents its ability to return any action or process to zero, which means King Crimson's power is rendered moot. Confused and powerless, Diavolo cannot stop Gold Experience Requiem from violently pummelling him into the Tiber.
    </p>
    <p>
        Although he emerges from the water, Diavolo quickly finds that King Crimson was destroyed and that he himself is now trapped in an endless death loop, dying again and again but never reaching the end of his death. And so Diavolo's reign of terror ends.
    </p>
    <p>
        Set before the events of Bucciarati's Arrival, the epilogue focuses on Bucciarati and the others helping the owner of a flower store uncover the truth behind his daughter's death. Mista and Bucciarati go investigate the suspected murderer, and Mista notices a round stone following Bucciarati. Confronting Scolippi, the sculptor reveals that his Rolling Stone chases people fated to die a violent death and kills them preemptively, prompting Mista to try destroying it. He seemingly succeeds, but the remaining dust shapes itself into Bucciarati, Abbacchio, and Narancia, revealing that they were fated to die during their journey after the gang leaves. Scolippi prays that their inevitable suffering may be followed by hope.
    </p>
    <p>
        Back to the present, Trish and Mista happily go to the Colosseum, having forged a new friendship. Behind them Giorno swears to protect the Arrow head, as he sees it as the legacy of his comrades' sacrifices, placing it in Coco Jumbo's body before catching up with Mista and Trish.
    </p>
    <p>
        The part closes with Giorno having become the new Boss of Passione as several men bow before him and embrace his hand.
    </p>
</div>

