@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Part1";
}

<div class="text-center">
    <h1 class="display-4">Phantom Blood Summary</h1>

    <p>In Part 1 of JJBA, the first protagonist we meet is Jonathan Joestar, nicknamed JoJo, the young son of a wealthy family in England in the year of 1880. 
        JoJo lives a good life until his father, George, adopts a child named Dio Brando, who secretly planned to break JoJo's spirit
        and earn the trust of George in order to become the family's sole heir.
    </p>
    <p>Dio horribly bullies JoJo from then on, committing acts such as attacking his dog, violently beating him in a boxing match,
        and turning his friends against him, all the while pretending to be kind in front of their father. JoJo eventually gets mad 
        and fights against Dio and wins. During the fight, Dio's blood gets on a stone mask, causing spikes to extend out of it. After the fight, 
        Dio resolves to take JoJo more seriously, and also throws his dog in the incinerator as revenge.
    </p>
    <p>Seven years have passed, and Dio and JoJo have become somewhat friendly towards each other, and their father has fallen ill. JoJo is suspicious of 
        Dio's excessive care towards George. JoJo, in the midst of researching the previously mentioned stone mask, finds a letter from Dio's late 
        father describing the same illness that George is experiencing. JoJo confronts Dio, believing that it is not an illness but poison, and leaves 
        with the 'medicine' Dio was giving George for testing. 
    </p>
    <p>
        While JoJo is gone to London to test the medicine, Dio decides he must kill JoJo before exposed. Dio plans to use the stone mask, which he believes 
        to be an ancient torture device, to kill JoJo, but he tests it on a drunken beggar to ensure it's lethality. To Dio's shock, the mask doesn't kill the man, 
        rather it turns him into a vampire, then Dio luckily survived due to the sunrise. Soon, JoJo returned to the manor with proof of Dio's treachery and a new friend 
        named Robert E.O. Speedwagon, as well as the criminal who sold Dio poison.
    </p>
    <p>
        JoJo arrives with police to apprehend Dio, and Dio uses the stone mask on himself right before being shot by all of the police. After the police believe Dio to be dead, 
        Dio gets back up and instantly slaughters the police. To get rid of Dio, JoJo decides to burn the mansion down, and skewers Dio on a statue in the living room. JoJo survives but is hospitalized 
        but believes Dio to be dead. Dio also barely survived. JoJo later meets the italian baron Zeppeli, who teaches him 'Hamon', a breathing technique that allows 
        people to use sunlight energy. They soon encounter an intelligent zombie that Dio created with his vampire powers.
    </p>
    <p>
        Zeppeli continues to teach JoJo to use Hamon until he eventually gives JoJo a test to kill Dio's next intelligent zombie, Jack the Ripper, without 
        spilling any wine out of a full to the brim wine glass. Dio continues to send minions after JoJo, then they eventually fight and find that Dio created a 
        technique to counter Hamon. Dio leaves full of confidence and superiority, and leaves JoJo to ancient legendary knights that he had turned into zombies. After 
        a long fight that required Zeppeli to sacrifice himself, they succesfully defeated the knights.
    </p>
    <p>
        Later, as JoJo approaches Dio's castle, they encounter Zeppeli's master who taught him Hamon and his two peers who learned with him. They enter Dio's castle 
        and start the fight. During the fight, one of Zeppeli's peers dies, and JoJo uses Hamon to behead Dio. Unbeknownst to JoJo, Dio removed his head before the hamon 
        could reach him, so he survived.
    </p>
    <p>
        Three months later, JoJo boards a ship to America for his honeymoon with Erina. On the ship, he finds the bodyless Dio who explains his plan to steal JoJo's body for himself. 
        JoJo succeeds in stopping Dio, but ended up needing to sacrifice himself and blow up the ship. JoJo urges Erina to survive the explosion by hiding in Dio's coffin with an 
        orphaned child and her unborn baby. Erina survived with the resolve to tell JoJo's story to future generations.
    </p>
</div>

