@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Part2";
}

<div class="text-center">
    <h1 class="display-4">Battle Tendencies Summary</h1>

    <p>The protagonist of the second part is Joseph Joestar, the grandson of Jonathan Joestar. Joseph is a young troublemaker who gets dragged into 
        the world of Hamon and Vampires because a vampire targeted him due to his talent and relation to his grandfather. Before Joseph killed the vampire, 
        he was told that Speedwagon was dumped into a river in Mexico. When Joseph arrives in Mexico, he finds that Speedwagon was taken as a prisoner 
        by the nazis. He finds out that the nazis are carrying out research to awaken an ancient stone figure, then they do. The awakened ancient vampire 
        gives Joseph a very hard fight, as he almost dies. Joseph finds out that there are three more like it in Rome.
    </p>
    <p>
        Joseph is instructed to arrive in Rome and meet an ally. The person he meets is Caesar Zeppeli, the grandson of Jonathan's mentor. The two youths 
        don't get along well as Caesar blames Jonathan for his grandfather's death and called Joseph's win against Santana dumb luck. Unbeknownst to them, 
        the Pillar Men are already awakening under the Colosseum.
    </p>
    <p>
        Joseph, Speedwagon, and Caesar arrive at the underground cave where the Pillar Men are; however, the Pillar Men, Wamuu, Esidisi and Kars, have already 
        awakened and killed the Germans. Joseph and Caesar confront the three Pillar Men, but the three are already familiar with Ripple users and have developed 
        counters. Both Joseph and Caesar are easily overwhelmed by Wamuu, though as Wamuu prepares to deal a mortal blow to Joseph, the latter promises that with 
        a month of training, he can make a worthy adversary. As Wamuu loves to battle, he accepts Joseph's challenge, but implants a Wedding Ring of Death on 
        Joseph's aorta to keep him from running away. He explains the ring will dissolve into a poison within 33 days while revealing the antidote to be inside his 
        lip ring. Esidisi, also places his own ring around Joseph's windpipe to seal his death, with the antidote in his own nose piercing. The Pillar Men's leader 
        Kars passes on the game as the trio take their leave to find the Red Stone of Aja. Caesar soon respects Joseph for his heroic resistance.
    </p>
    <p>
        Wanting to teach Joseph to master his Ripple, Caesar takes him to Venice to meet his mentor: the masterful and beautiful Lisa Lisa. Lisa Lisa, assisted 
        by her servant Loggins and Messina, harshly train Joseph and Caesar and manage to shape them into Ripple masters in three weeks. Near the end of their 
        training, Lisa Lisa reveals to Joseph and Caesar that Kars is the one who created Stone Masks such as the one that caused their grandfathers' deaths. 
        She also reveals that Kars is seeking a flawless Red Stone of Aja, the Super Aja in her possession to perfect the Mask and use it to become the Ultimate Thing.
    </p>
    <p>
        With a week left until the rings inside Joseph dissolve and kill him, Lisa Lisa pits Joseph and Caesar against Loggins and Messina respectively for 
        their final test. However, when Joseph reaches his destination, he finds Loggins has been killed by Esidisi who has learned of the Super Aja's location. 
        Joseph proceeds to battle Esidisi, but the Pillar Man's wits are a match for Joseph's. The Ripple warrior still manages to use sleight of hand and 
        binds Esidisi with rope of woolen strings, dealing a seemingly fatal blow to the Pillar Man and getting rid of Esidisi's ring.
    </p>
    <p>
        In truth, Esidisi has survived. Infiltrating Lisa Lisa's island and possessing her servant Suzi Q, the Pillar Man sends the Super Aja to his allies through 
        the postman. Esidisi threatens to kill Suzi Q, but Joseph and Caesar cooperate to finish him off. Lisa Lisa uses hypnosis on Suzi Q and learns that the 
        Stone is aboard a train headed to Switzerland. Thus Joseph, Caesar, Lisa Lisa and Messina drive off to catch the package before it reaches its destination.
    </p>
    <p>
        Reaching the Swiss border, Joseph and his group find the train had been stopped by customs as the Nazi retrieved the package. The leader of the Nazis who 
        appears familiar with Joseph invites the group to a log cabin up ahead. Later on that evening, Kars attacks the cabin to retrieve the Super Aja. The nazi 
        leader revealed to be Stroheim rebuilt as a cyborg matching Santana's power, is easily defeated. However, Stroheim manages to make Kars drop the Stone, 
        which is sliding toward a cliff. A struggle then ensues between Joseph and Kars for possession of the Stone, ending in Joseph managing to snatch victory 
        as Kars is sent tumbling down a cliff. Unfazed by what amounts to a little setback, Kars allows the humans to hold on to the Red Stone a little longer.
    </p>
    <p>
        The next day at St. Moritz, learning the Pillar Men are taking residence in the San Moritz hotel, Caesar wishes to ambush Kars during the day before Wamuu 
        returns. But Joseph objects as it might be a trap. A fight ensues, and an angry Caesar accompanied by Messina decide to go to the hotel without support. Lisa 
        Lisa tells Joseph of Caesar's tragic past, having assumed his father Mario left the family before he died to save him from being devoured by the resting Pillar Men. 
        The story convinces Joseph to follow after Caesar.
    </p>
    <p>
        However as Caesar reaches the San Mortiz, he and Messina are attacked by Wamuu, who is using streams of moist air to both protect him from the sunlight. Wamuu
        manages to drag to fight inside the hotel, but Caesar corner the Pillar Man by using bubble lenses to direct the sunlight to him. In a moment of anger, Caesar jumps 
        toward Wamuu to deal the final blow. But Wamuu takes advantage of the split-second of Caesar blotting out the sunlight to counter with a point-blank Divine Sandstorm
        that fatally injures Caesar. Caesar is defeated but as a last defiant act, steals Wamuu's lip ring for Joseph and secures it before a piece of the ceiling crushes him.
        Wamuu respects Caesar's last gesture and the basis of his valiant fight, allowing the bubble to remain for Joseph and Lisa Lisa as they eventually arrive and mourn 
        Caesar's death. The two decide to venture further inside the building. Despite having Wamuu's lip ring, Joseph vows not to drink the antidote until he has 
        defeated the Pillar Man and avenged Caesar.
    </p>
    <p>
        Joseph and Lisa Lisa eventually find the Pillar Men, finding themselves greatly outnumbered by their hundred vampire minions. Lisa Lisa manages to hold off their 
        attack with a bluff that she rigged a time bomb to destroy the Super Aja if she and Joseph are unable to return or it, suggesting two one-on-one matches to settle things. 
        Kars grudgingly accepts; the next night, Joseph, Lisa Lisa, Wamuu, and Kars meet at the Skeleton Heel Stone at the foot of Piz Bernina. Putting on Caesar's bandana, 
        Joseph engages Wamuu in a chariot race super-powered by vampire horses. Ultimately, despite his opponent gouging his own eyes out for an edge, Joseph is able to defeat 
        Wamuu whose body is destroyed in the process. Joseph takes the time to honor Wamuu and drinks the antidote before his head, then salutes him. Only remains Kars.
    </p>
    <p>
        The final showdown between Lisa Lisa and Kars begins. Unexpectedly, Kars uses a body double to distract Lisa Lisa and stabs her from behind, then unleashes his 
        Vampires on an out-of-breath Joseph. All seems to be over until an upgraded Stroheim, the Nazis, Speedwagon and a corp of Speedwagon Foundation agents, and Smokey 
        arrive to help Joseph. While the Vampires are distracted, Joseph confronts Kars. The devious Pillar Man used the unconscious Lisa Lisa as a shield and forces Joseph 
        to try to save her while Kars prepares to attack. It is here that Lisa Lisa is revealed to be the biological mother of Joseph, Elizabeth Joestar.
    </p>
    <p>
        It is also explained that her husband, Joseph's father, was killed by the last of Dio's zombie troops while posing as a high-ranking air force commander, but when 
        Elizabeth killed the zombie, she was sighted by another unaware officer and forced to go into hiding as a fugitive, taking on the pseudonym "Lisa Lisa" for her own safety.
    </p>
    <p>
        In the present, Joseph nonetheless manages to trick Kars and hits him with the Ripple, making the Pillar Man fall on the ground. The Nazis try to kill Kars while he's down with 
        UV lights, but at the last moment, Kars dons a Stone Mask with the Red Stone of Aja embedded in it. Using the light to his advantage, Kars becomes the Ultimate Thing.
    </p>
    <p>
        At first, Kars doesn't appear to have changed much, however he quickly displays an incredible ability to transform into any life form and his newfound immunity to the sun. Everyone 
        in despair, Joseph makes a strategic retreat in order to lure out Kars by piloting a plane away from the scene.
    </p>
    <p>
        Joseph plans to lure the Ultimate Thing into a volcano, but as he closes on it, Kars manages to disable the plane. Joseph and Stroheim, who had been hiding inside the plane, manage 
        to lure Kars in and use the crashing plane to send him into the lava.
    </p>
    <p>
        Kars unexpectedly reemerges unscathed from the lava and severs Joseph's left arm with a sneak attack. Both Joseph and Stroheim realize that they cannot hope to defeat the Ultimate 
        Thing and accept their deaths. Yet, when Kars prepares to deal the final blow to Joseph with a Ripple-infused punch, Joseph uses the Super Aja and empowers greatly Kars's blow. The 
        surge of energy shoots through Joseph's hand and hits the volcano, which under the influence of the Ripple, begins to erupt, sending Kars into space.In the void, Kars has no way to 
        reach back to Earth and a defense mechanism of his kicks in, freezing his body solid and making him unable to travel back to Earth. Damned with immortality due to his newfound powers, 
        Kars eventually becomes brain-dead in the endless vacuum of space.
    </p>
    <p>
        Weeks later the group of Erina, Lisa Lisa, Messina, Smokey, and Speedwagon pay their respects as they have a funeral for the assumed-to-be-dead Joseph Joestar, but to their surprise, 
        Joseph appears, alive and well, and unaware of whose funeral he decided to interrupt. After seeing his own name on the headstone, he explains that after falling back down from the sky 
        he has landed up in Italy where he is helped by a local fisherman. After finding and marrying Suzi Q, he has then returned to America and his friends. Unfortunately, Suzi Q forgot to 
        inform the group that Joseph was alive, hence the funeral. Enraged, Joseph chases his wife through the cemetery while his comrades celebrate his survival.
    </p>
</div>

